@inherits LayoutComponentBase

<div class="flex h-screen bg-gray-100">
        <div class="w-64 bg-blue-600 shadow-lg">
            <NavMenu />
        </div>

        <main class="flex-1 overflow-y-auto">
            <div class="container mx-auto">
                @Body
            </div>
    </main>
</div>

<script src="/js/auth.js"></script>

<ToastContainer />

<div id="blazor-error-ui" class="bg-error text-white p-4 fixed bottom-0 left-0 right-0 z-50">
    Ha ocurrido un error inesperado.
    <a href="" class="underline ml-2">Recargar</a>
    <a class="dismiss ml-4 cursor-pointer">✕</a>
</div>
